.App {
  text-align: center;
}

input{
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 0%;
}
.form-control{
  border-radius: 0%;
}

.card-title{
  padding-top: 20px;
}
.row{
  padding-top: 150px;
}